<launch>
  <arg name="model_path"    default="$(env HOME)/uav_kd_project/runs/bc_red_wp/20260629_180554/best_model.pt"/>
  <arg name="hidden_dim"    default="256"/>
  <arg name="image_size"    default="224"/>
  <arg name="pub_rate"      default="20"/>
  <arg name="takeoff_delay" default="3.0"/>
  <arg name="lookahead"          default="1.0"/>
  <arg name="traj_stale_s"       default="2.0"/>
  <arg name="K"                  default="10"/>
  <arg name="search_yaw_rate"    default="0.3"/>
  <arg name="search_timeout_s"   default="6.0"/>

  <node name="bc_red_wp_policy_node" pkg="uav_kd_student_policy" type="run_bc_red_wp_policy.py"
        output="screen" required="true"
        launch-prefix="/home/l/miniconda3/envs/dbc241/bin/python3">
    <param name="model_path"    value="$(arg model_path)"/>
    <param name="hidden_dim"    value="$(arg hidden_dim)"/>
    <param name="image_size"    value="$(arg image_size)"/>
    <param name="pub_rate"      value="$(arg pub_rate)"/>
    <param name="takeoff_delay" value="$(arg takeoff_delay)"/>
    <param name="lookahead"        value="$(arg lookahead)"/>
    <param name="traj_stale_s"     value="$(arg traj_stale_s)"/>
    <param name="K"                value="$(arg K)"/>
    <param name="search_yaw_rate"  value="$(arg search_yaw_rate)"/>
    <param name="search_timeout_s" value="$(arg search_timeout_s)"/>
  </node>
</launch>
